<header>
  <div class="box">
    <span class="logo">Kojust</span>
    <div class="actions">
      <div class="left">
        <div>
          <button class="icon search"><i class="fal fa-search" aria-hidden="true"></i></button>
          <button class="icon new"><i class="fal fa-plus" aria-hidden="true"></i>New position</button>
        </div>
      </div>
      <div class="right">
        <button class="icon"><i class="fal fa-bell" aria-hidden="true"></i></button>
        <button class="icon"><i class="fal fa-user" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</header>
